{% extends "public/public_temp.html"%}

{% block title %} J. Reviews {% endblock %}

{% block header %} 

<div class="container d-flex align-items-center">

    <h1 class="logo mr-auto"><a href="/">Online Consumer Rankings</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="/">Home</a></li>
        
        <li  style="padding-top: 5px; padding-bottom: 5px;">
          <form class="form-inline my-0 my-lg-0"> 
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-primary my-0 my-sm-0" type="submit">Search</button>
          </form>
        </li>

      </ul>

    </nav><!-- .nav-menu -->

  </div>


{% endblock %}

{% block main %}

<div class="container-fluid" style="width: 100%; height: 73.1vh;">
    <div class="container align-items-center">
        <div class="section-title" style="margin-top: 100px;">
            <h2>Junaid Jamshed</h2>
        </div>
        <h6 style="font-size: 1.3rem; text-align: right;"><span style="font-family: monospace; color: #1E4265;"> Rating: 4.4 </span> </h6>
    

        <div class="d-flex justify-content-center" style="margin-right: auto; margin-left: auto;">
            <div class="row icon-boxes" style="margin-top: 40px; margin-bottom: 40px;">
              
              <div class="container">
                <div class="row">
                  <div class="col-sm" style="background-color: rgb(247, 247, 247); border-radius: 0.2in; margin-right: 5px; padding: 15px;" data-aos="zoom-in" data-aos-delay="200">
                    <h4 class="title"><a href="/junaidjamshedreviews">J. reviews</a></h4>
                    <p class="description">Reviews of this business have been scrapped from Google Reviews and displayed here.</p>
                  </div>
                  <div class="col-sm" style="background-color: rgb(247, 247, 247); border-radius: 0.2in; margin-right: 5px; padding: 15px;" data-aos="zoom-in" data-aos-delay="200">
                    <h4 class="title"><a href="/jjFairReviews">J. Fair Reviews</a></h4>
                    <p class="description">Once extracted all of the contradict reviews from the scrapped dataset, The only left fair reviews are displayed here.</p>
                  </div>
                  <div class="col-sm" style="background-color: rgb(247, 247, 247); border-radius: 0.2in; margin-right: 5px; padding: 15px;" data-aos="zoom-in" data-aos-delay="200">
                    <h4 class="title"><a href="/junaidjamshedcontradictions">J. Contradic Reviews</a></h4>
                    <p class="description">After the preprocessing and sentiment analyses of each review of the business, Contradict reviews are displayed here.</p>
                  </div>
                </div>
              </div> 
                
            </div>
        </div>

    </div>
    

</div>

{% endblock %}


{% block footer %} 

<div class="container d-md-flex py-4" style="margin-top: 42px;">

    <div class="mr-md-auto text-center text-md-left">
      <div class="copyright">
        &copy; Copyright <strong><span>Online Consumer Rankings</span></strong>. All Rights Reserved
      </div>
      
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>

{% endblock %}